a#start
section.bar.bar-3.bar--sm.bg--secondary
  .container
    .row
      .col-md-6
        .bar__module
          span.type--fade Stack | Multipurpose HTML Template with Variant Page Builder
      .col-md-6.text-right.text-left-xs.text-left-sm
        .bar__module
          ul.menu-horizontal
            li
              .modal-instance
                a.modal-trigger(href='#') Login
                .modal-container
                  .modal-content
                    section.unpad
                      .container
                        .row
                          .col-sm-6.col-md-offset-3.col-sm-offset-3.col-xs-12
                            .boxed.boxed--lg.bg--white.text-center.feature
                              .modal-close.modal-close-cross
                              h3 Login to Your Account
                              a.btn.block.btn--icon.bg--facebook.type--uppercase(href='#')
                                span.btn__text
                                  i.socicon-facebook
                                  | Login with Facebook
                              a.btn.block.btn--icon.bg--twitter.type--uppercase(href='#')
                                span.btn__text
                                  i.socicon-twitter
                                  | Login with Twitter
                              hr(data-title='OR')
                              .feature__body
                                form(action='/auth/local', method='POST')
                                  input(type="hidden", name="_csrf" value=_csrf)
                                  .row
                                    .col-sm-12
                                      label(for='username')= t("UsernameOrEmail")
                                      input(type='text', name='username', id='username', placeholder=t("YourUsernameOrEmailAddress"))
                                      .hint
                                    .col-sm-12
                                      label(for='password')= t("PasswordSC")
                                      input(type='password', name='password', id='password', placeholder=t("Password"))
                                      .hint= t("PasswordlessLoginHint")
                                    .col-sm-12
                                     .flash
                                      if messages.error
                                       .alert.alert-danger
                                       for error in messages.error
                                         div= error.msg
                                      if messages.info
                                       .alert.alert-success
                                        for info in messages.info
                                         div= info.msg

                                     if messages.error
                                      .forgot
                                       a(href='/forgot')= t("ForgotYourPassword")
                                    .col-sm-12
                                      button.btn.btn--primary.type--uppercase(type='submit') Login
                                  // end of row
                                span.type--fine-print.block
                                  | Dont have an account yet?
                                  a(href='#') Create account
                                span.type--fine-print.block
                                  | Forgot your username or password?
                                  a(href='#') Recover account
                        // end of row
                      // end of container
            li
              .modal-instance
                a.modal-trigger(href='#') Create Account
                .modal-container
                  .modal-content
                    section.imageblock.feature-large.bg--white.border--round
                      .imageblock__content.col-md-5.col-sm-3.pos-left
                        .background-image-holder
                          img(alt='image', src='/app/images/cowork-11.jpg')
                      .container
                        .row
                          .col-md-5.col-md-push-6.col-sm-7.col-sm-push-4
                            h2 Create an account
                            p.lead
                              | Get started with a 14 day free trial, No credit card required — cancel at any time.
                            a.btn.block.btn--icon.bg--facebook.type--uppercase(href='#')
                              span.btn__text
                                i.socicon-facebook
                                |                                                                         Sign up with Facebook
                            a.btn.block.btn--icon.bg--twitter.type--uppercase(href='#')
                              span.btn__text
                                i.socicon-twitter
                                |                                                                         Sign up with Twitter
                            hr(data-title='OR')
                            form
                              .row
                                .col-xs-12
                                  input(type='email', name='Email Address', placeholder='Email Address')
                                .col-xs-12
                                  input(type='password', name='Password', placeholder='Password')
                                .col-xs-12
                                  button.btn.btn--primary.type--uppercase(type='submit') Create Account
                                .col-xs-12
                                  span.type--fine-print
                                    | By signing up, you agree to the
                                    a(href='#') Terms of Service
                              // end row
                        // end of row
                      // end of container
            li
              a(href='#', data-notification-link='search-box')
                i.stack-search
            li
              a(href='shop-cart.html')
                i.stack-basket
            li.dropdown
              span.dropdown__trigger
                img.flag(alt='Image', src='/app/images/flag-1.png')
              .dropdown__container
                .container
                  .row
                    .col-md-1.dropdown__content
                      ul.menu-vertical.text-left
                        li
                          a(href='#') ENG
                        li
                          a(href='#') GER
            li
              a(href='#', data-notification-link='side-menu')
                i.stack-dot-3
    // end of row
  // end of container
// end bar
.notification.pos-right.pos-top.side-menu.bg--white(data-notification-link='side-menu', data-animation='from-right')
  .side-menu__module
    a.btn.btn--icon.bg--facebook.block(href='#')
      span.btn__text
        i.socicon-facebook
        |                         Sign up with Facebook
    a.btn.btn--icon.bg--dark.block(href='#')
      span.btn__text
        i.socicon-mail
        |                         Sign up with Email
  // end module
  hr
  .side-menu__module
    span.type--fine-print.float-left Already have an account?
    a.btn.type--uppercase.float-right(href='#')
      span.btn__text Login
  // end module
  hr
  .side-menu__module
    ul.list--loose.list--hover
      li
        a(href='#')
          span.h5 About Stack
      li
        a(href='#')
          span.h5 Careers
      li
        a(href='#')
          span.h5 Investors
      li
        a(href='#')
          span.h5 Locations
      li
        a(href='#')
          span.h5 Contact
  // end module
  hr
  .side-menu__module
    ul.social-list.list-inline.list--hover
      li
        a(href='#')
          i.socicon.socicon-google.icon.icon--xs
      li
        a(href='#')
          i.socicon.socicon-twitter.icon.icon--xs
      li
        a(href='#')
          i.socicon.socicon-facebook.icon.icon--xs
      li
        a(href='#')
          i.socicon.socicon-instagram.icon.icon--xs
      li
        a(href='#')
          i.socicon.socicon-pinterest.icon.icon--xs
.notification.pos-top.pos-right.search-box.bg--white.border--bottom(data-animation='from-top', data-notification-link='search-box')
  form
    .row
      .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
        input(type='search', name='query', placeholder='Type search query and hit enter')
    // end of row
// end of notification
