h2 Create an account
p.lead
		| Get started with a 14 day free trial, No credit card required — cancel at any time.

if socialAuth
	.socials
	if socialAuth.facebook
		a.btn.block.btn--icon.bg--facebook.type--uppercase(href="/auth/facebook", title=t("SignUpFacebook"))
				span.btn__text
						i.socicon-facebook
						| Sign-up with Facebook
	if socialAuth.twitter
		a.btn.block.btn--icon.bg--twitter.type--uppercase(href="/auth/twitter", title=t("SignUpTwitter"))
				span.btn__text
						i.socicon-twitter
						| Sign-up with Twitter
	hr(data-title='OR')
.feature__body
		form.form-horizontal(action='/signup', method='POST')
				input(type="hidden", name="_csrf" value=_csrf)
				.row
						.col-sm-12
							label(for='firstName')= t("FirstName")
							input(type='text', name='firstName', id='firstName', placeholder=t("FirstName"), required)
							.hint
						.col-sm-12
							label(for='lastName')= t("LastName")
							input(type='text', name='lastName', id='lastName', placeholder=t("LastName"), required)
							.hint
						.col-sm-12
							label(for='email')= t("EmailSC")
							input(type='email', name='email', id='email', placeholder=t("YourEmail"), required)
							.hint
						.col-sm-12
							label(for='username')= t("UsernameSC")
							input(type='text', name='username', id='username', placeholder=t("YourUsername"))
							.hint
						.col-sm-12.switch
							div= t("PasswordlessAccount")
							.input-checkbox.input-checkbox--switch
								.inner
									input(name='passwordless', type='checkbox', id='passwordless')
									label(for='passwordless')
						.col-sm-12
							label(for='password')= t("PasswordSC")
							input(type='password', name='password', id='password', placeholder=t("Password"))
						.col-sm-12
							if messages.error
								.alert.alert-danger
									for error in messages.error
										div= error.msg
							if messages.info
								.alert.alert-success
									for info in messages.info
										div= info.msg
						.col-sm-12
							button.btn.btn--primary.type--uppercase(type='submit') Create Account
						.col-sm-12
							span.type--fine-print
									| By signing up, you agree to the
									a(href='#') Terms of Service
